<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Akademia.net</title>
    <script
      type="module"
      crossorigin
      src="{{url_for('static',path='/assets/index.de4f7a61.js')}}"
    ></script>
    <link rel="stylesheet" href="{{url_for('static',path='/assets/index.57c1b2e7.css')}}" />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
